<div id="home-container">
  <h1>Dashboard</h1>

  <div class="column-container">
    <div class="column">
      @for (e of columns['todo']; track e.id) {
      <app-element-card [e]="e" />
      }
    </div>
    <p-divider layout="vertical" />
    <div class="column">
      @for (e of columns['doing']; track e.id) {
      <app-element-card [e]="e" />
      }
    </div>
    <p-divider layout="vertical" />
    <div class="column">
      @for (e of columns['done']; track e.id) {
      <app-element-card [e]="e" />
      }
    </div>
  </div>
  <router-outlet />
</div>