#home-container {
    margin: 10px;
}

.column-container {
    display: flex;
    max-width: 800px;
    margin: auto;
}

.column {
    flex: 1;
}

.card-container {
    width: 100%;
    height: 100%;
}