<div class="element-card">
    <p-card [style]="{padding: '0.8rem 0.6rem', background: '#ddd'}">
        <ng-template pTemplate="header">
            <div class="element-card-header">
                {{elem.str}}
            </div>
        </ng-template>
        <div class="metadata">
            <span>date</span>
            <span>data_1</span>
        </div>
        <ng-template pTemplate="footer">
            <div>
                <!-- <p-tag [value]="idStr"
                    [style]="{ 'background': 'rgba(0,0,0,0)', color:'var(--accent-color-1)', belement:'1px solid var(--accent-color-1)', height: '20px', fontSize:'10px', marginRight: '2px'}"></p-tag> -->
            </div>
        </ng-template>
    </p-card>
</div>